<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<form action="welcome" method="post">
  <div class="container mt-5">
    <h2>Welcome to Our Application</h2>
    <p>Thank you for logging in. You are now on the welcome page.</p>
    <p>You can navigate to different sections of the application from here.</p>
    <a href="#" class="btn btn-primary">Dashboard</a>
    <a href="/login" class="btn btn-secondary">Profile</a>
    <a href="/logout" class="btn btn-danger">Logout</a>
  </div>
</form>


</body>
</html>
